.container {
	/* position: absolute; */
	bottom: 0;
	left: 0;
	width: fit-content;
	margin-left: 30%;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	overflow: hidden;
	/* background-color: blue; */
}

.page_btn {
	outline: none;
	border: none;
	font-size: 14px;
	font-weight: 500;
	border-radius: 5px;
	outline: none;
	width: 40px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 5px;
	color: white;
	box-shadow: var(--box-shadow);
	cursor: pointer;
	background-color: #2fa6f5;
}

.active {
	background-color: var(--blue);
	color: #2fa6f5;
}
